# True in development, False in production
DEBUG=True

FLASK_APP=run.py
FLASK_ENV=development

# If not provided, a random one is generated 
SECRET_KEY=5QemJmSkqzqhxA9kcKYG

# If DB credentials (if NOT provided, or wrong values SQLite is used) 
DB_ENGINE=mysql+pymysql
DB_HOST=dev.guoch.xyz
DB_NAME=kn-db-dashboard
DB_PASS=Gxbje3eRfaERfdYP
DB_PORT=3306
DB_USERNAME=kn-db-dashboard

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

