package com.jd.icity.koala.domain.param;

import com.jd.icity.koala.domain.dto.Insert{{meta.table|snake_to_capital}}DTO;
import lombok.Data;
import lombok.experimental.Accessors;

import java.util.List;

@Data
@Accessors(chain = true)
public class Insert{{meta.table|snake_to_capital}}Param {

    private List<Insert{{meta.table|snake_to_capital}}DTO> insert{{meta.table|snake_to_capital}}DTOList;
}
