{% extends "layouts/base.html" %}

{% block title %} Add a task {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/task">Task</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Add a task</h1>
                <p class="mb-0">Start a new task to convert urban knowledge to database task by uploading mind maps.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="card border-0 shadow components-section">
                    <div class="card-body">

                        <div class="row mb-4">
                            <div class="col-lg-6 col-sm-12">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label>Title of the task <span class="text-danger">*</span></label>
                                    {{ form.title }}
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-3">
                                    <label>Description <span class="text-danger">*</span></label>
                                    {{ form.description }}
                                </div>
                                <!-- End of Form -->
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label>Mindmap for entities and their attributes (OPML only) <span
                                            class="text-danger">*</span></label>
                                    {{ form.entity_opml_file }}
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="mb-4">
                                    <label>Mindmap for relations and their attributes (OPML only) <span
                                            class="text-danger">*</span></label>
                                    {{ form.relation_opml_file }}
                                </div>
                                <!-- End of Form -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
