{% extends "layouts/base.html" %}

{% block title %} Transactions {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="/task">Task</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ task.uuid }}</li>
                </ol>
            </nav>
            <h2 class="h4">{{ task.title }}</h2>
            <p class="mb-0">{{ task.description }}</p>
        </div>
    </div>


    <div class="row">
        <div class="card card-body border-0 shadow table-wrapper table-responsive col-6 col-md-12">
            <div class="row d-block d-xxl-flex align-items-center">
                <div class="col-12 col-xxl-6 ps-xxl-4 pe-xxl-0"><h2 class="fs-5 fw-normal mb-1">Customers</h2>
                    <h3 class="fw-extrabold mb-1">345k</h3><small class="d-flex align-items-center">

                        Apr 1 - May 1</small>
                    <div class="small d-flex mt-1">

                        <div><span class="text-success fw-bolder me-1">18,2%</span> Since last month</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-body border-0 shadow table-wrapper table-responsive col-6 col-md-12">

        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
