{% extends "layouts/base.html" %}

{% block title %} Add a task {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="https://cdn.staticfile.org/bootstrap-table/1.21.2/bootstrap-table.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/bootstrap-icons/1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.staticfile.org/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <style>
        .components-section .btn-group {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }

        .bs-bars.float-left {
            margin-top: 0 !important;
            padding-top: 0 !important;
        }

        .detail-icon {
            font-size: large !important;
        }

    </style>
{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="/task">Task</a></li>
                <li class="breadcrumb-item"><a href="/task/{{ task_uuid }}">{{ task_uuid }}</a></li>
                <li class="breadcrumb-item" aria-current="page">{{ category }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ table }}</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Edit entities</h1>
                <p class="mb-0">Remove redundant tables or rename existing tables.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-0 shadow components-section">
                <div class="card-body">

                    <div class="row mb-4">
                        <div id="toolbar">
                            <button id="remove" class="btn btn-danger" disabled>
                                <i class="fa fa-trash"></i> Delete
                            </button>
                            <button id="set-type" class="btn btn-info" disabled>
                                <i class="fa fa-database"></i> Apply Data Type to Selected
                            </button>
                        </div>
                        <table
                                id="table"
                                class="table-striped"
                                data-toolbar="#toolbar"
                                data-search="true"
                                data-show-refresh="true"
                                data-detail-view="false"
                                data-cache="false"
                                data-click-to-select="true"
                                data-minimum-count-columns="2"
                                data-pagination="false"
                                data-id-field="id"
                                data-table-uuid="{{ task_uuid }}"
                                data-table-type="entity"
                                data-page-size="10000"
                                data-table-category="{{ category }}"
                                data-table-name="{{ table }}"
                                data-url="/api/task/tables/entity/{{ task_uuid }}/{{ category }}/{{ table }}"
                                data-response-handler="responseHandler">
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modalChangeName">
        <div class="modal-dialog model-lg modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Table Name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="tableOld" class="form-label">Old Attribute Name</label>
                        <input class="form-control" id="attrOld" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="tableNew" class="form-label">New Attribute Name</label>
                        <input class="form-control" id="attrNew">
                        <div id="tableNewHelp" class="form-text">Space and special charaters are not allowed.</div>
                    </div>
                    <div class="mb-3">
                        <label for="dataTypeOld" class="form-label">Old Data Type</label>
                        <input class="form-control" id="dataTypeOld" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="dataType" class="form-label">Data Type</label>
                        <input class="form-control" id="dataType">
                        <div id="pillDataList" class="mt-1">
                            <button type="button" class="badge bg-info" data-type="INT">INT</button>
                            <button type="button" class="badge bg-info" data-type="VARCHAR(36)">VARCHAR(36) (for UUID)</button>
                            <button type="button" class="badge bg-info" data-type="VARCHAR(32)">VARCHAR(32)</button>
                            <button type="button" class="badge bg-info" data-type="DATE">DATE</button>
                            <button type="button" class="badge bg-info" data-type="DATETIME">DATETIME</button>
                            <button type="button" class="badge bg-info" data-type="BINARY">BINARY</button>
                            <button type="button" class="badge bg-info" data-type="FLOAT">FLOAT</button>
                            <button type="button" class="badge bg-info" data-type="DOUBLE">DOUBLE</button>
                            <button type="button" class="badge bg-info" data-type="BOOLEAN">BOOLEAN</button>
                            <button type="button" class="badge bg-info" data-type="TEXT">TEXT</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="constraints" class="form-label">Constraints</label>
                        <input class="form-control" id="constraints">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea class="form-control" id="comment"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="modalChangeNameSubmit">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modalDeleteConfirmation" data-delete-list="">
        <div class="modal-dialog model-lg modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">Are you sure you want to delete the following tables?</div>
                    <div id="deleteConfirmation">
                    </div>
                    <div class="mt-3">This action <b>cannot</b> be undone.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="modalDeleteSubmit">Delete</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    {#    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>#}
    {#    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>#}

    <script src="https://cdn.staticfile.org/bootstrap-table/1.21.2/bootstrap-table.min.js"></script>
    {#    <script src="https://cdn.staticfile.org/bootstrap-table/1.21.2/extensions/export/bootstrap-table-export.min.js"></script>#}
    <script src="https://cdn.staticfile.org/bootstrap-table/1.21.2/bootstrap-table-locale-all.min.js"></script>

    <script src="/static/assets/js/table-edit-entity-table-attr.js"></script>

{% endblock javascripts %}
